@import url(//fonts.googleapis.com/css?family=PT+Sans);

body {
  font-family: 'PT Sans', Helvetica, 'Helvetica Neuve', Arial, Tahoma, sans-serif;
  font-size: 17px;

  color: #333;

  background: url(../img/groovepaper.png) repeat top left;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}



blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}



strong {
  color:#222;
  font-weight:700;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
  }

  header ul {
    display:none;
  }
}

@media print {
  body {
    font-size:12pt;
    color:#444;
  }
}


#wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.ca-menu {
 list-style: none;
  padding: 0;
  margin: 20px auto;
}

#navi {
padding-top: 15px;
padding-right: 15px;
float: right;
width: 420px;
}

#title {
padding-left: 15px;
width: 460px;
float: left;
}
div.clear {
clear: both;
}


  h1 { font-size: 2.5em; line-height: 1; }
  h2 { font-size: 2em;   line-height: 1; }
  h3 { font-size: 1.5em; line-height: 1; }
  h4 { font-size: 1.2em; line-height: 1.25; }
  h5 { font-size: 1em;   line-height: 1; font-weight: bold; }
  h6 { font-size: 1em;   line-height: 1; font-weight: bold; }

  h1, h2, h3, h4, h5, h6 { font-weight: normal; margin-top: 1.5em; margin-bottom: 1em; }
  h1, h2 { margin-bottom: 0.75em; }

.post p {
  max-width: 580px;
}

ul.list, ol.list {
  padding-left: 3.333em;
  max-width: 580px;
}

.post h2 {
  border-bottom: 1px solid #EDEDED;
}

h1:nth-child(1),
h2:nth-child(1),
h3:nth-child(1),
h4:nth-child(1),
h5:nth-child(1),
h6:nth-child(1) {
  margin-top: 0;
}




@media (min-width: 43.75em) {
  #wrapper {
    padding: 2em;
  }
}

@media (min-width: 62em) {
  body {
    padding: 3em;
  }
  #wrapper {
    max-width: 740px;
    padding: 3em;
  }
}
